<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
    <a class="navbar-brand" href="#">PaveWay</a>
    <div class="d-flex order-lg-1 ml-auto pr-2">
        <ul class="navbar-nav flex-row">
            <li class="nav-item mx-2 mx-lg-0 px-2" *ngIf="!isLoggedIn">
                <a class="nav-link" href="#" [routerLink]="['signin']">LOGIN</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" [routerLink]="['signup']" *ngIf="!isLoggedIn">REGISTER</a>
            </li>
            <li class="nav-item px-2">
                <div class="circle-avatar nav-link" *ngIf="isLoggedIn"
                    style="background-image:url(http://placekitten.com/g/200/400)"></div>
            </li>

        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-2 active">
                <a class="nav-link" [routerLink]="['']">Home</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item px-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Join
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['student']">Student</a>
                    <a class="dropdown-item" href="#">Lecturer</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sponsorship</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onLogout()" *ngIf="isLoggedIn">Logout</a>
            </li>
        </ul>
    </div>
</nav>