<div class="container-fluid pt-15"
    style="background-image: linear-gradient(to right, #4186f5 0%, #5cc9fc 51%, #a7c7fa 100%);">
    <div class="container pt-4">
        <div class="row justify-content-center mt-4 pb-4">
            <div class="col-md-6 col-sm-12 col-lg-6 w-100 p-3 text-white text-center"
                style="height:480px;background-color: rgb(7, 14, 77);padding: 40px;">
                <h1 class=".text-positioning">Good to see you again!</h1>
                <p class="text-center">By logging into PaveWay Academy, you agree to our <a href="">Terms of use</a>
                    and <a href=""> Privacy Policy</a>.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 w-100 p-3" style="background-color: rgb(231, 233, 245);">
                <!-- 
                <div class="btn-group btn-group-lg btn-block" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn btn-outline-primary active"
                        aria-pressed="true">Student</button>
                    <button type="button" class="btn btn btn-outline-primary">Teacher</button>
                    <button type="button" class="btn btn btn-outline-primary">Sponsor</button>
                </div> -->

                <form class="mt-4">
                    <div class="form-group co-md-6">
                        <label for="inputPassword4">Email</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-color: rgb(13, 141, 226);"
                                    id="basic-addon1">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Firstname</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="border-color: rgb(13, 141, 226);"
                                        id="basic-addon1"> <i class="fa fa-user" aria-hidden="true"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="firstname" placeholder="Firstname">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Lastname</label>
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="border-color: rgb(13, 141, 226);"
                                        id="basic-addon1"> <i class="fa fa-user" aria-hidden="true"></i> </span>
                                </div>
                                <input type="text" class="form-control" id="lastname" placeholder="Lastname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-color: rgb(13, 141, 226);"
                                    id="basic-addon1"> <i class="fa fa-key" aria-hidden="true"></i></span>
                            </div>
                            <input type="password" class="form-control" id="inputAddress"
                                placeholder="e.g ManieVY@ums.??">
                        </div>
                    </div>
                </form>
                <p class="text-right"><a  [routerLink]="['/signup']">Create an account?</a></p>
                <hr>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-outline-dark" href="#" role="button" style="text-transform:none">
                            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                            Login with Google
                        </a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>