<div class="container-fluid pt-15"
    style="background-image: linear-gradient(to right, #4186f5 0%, #5cc9fc 51%, #a7c7fa 100%);">
    <div class="container pt-4">
        <div class="row justify-content-center mt-4 pb-4">
            <div class="col-md-6 col-sm-12 col-lg-6 w-100 p-3 text-white text-center"
                style="height:480px;background-color: rgb(7, 14, 77);padding: 40px;">
                <h1 class=".text-positioning">Good to see you again!</h1>
                <p class="text-center">By logging into PaveWay Academy, you agree to our <a href="">Terms of use</a>
                    and <a href=""> Privacy Policy</a>.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 w-100 p-3" style="background-color: rgb(231, 233, 245);">
                <!-- 
                <div class="btn-group btn-group-lg btn-block" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn btn-outline-primary active"
                        aria-pressed="true">Student</button>
                    <button type="button" class="btn btn btn-outline-primary">Teacher</button>
                    <button type="button" class="btn btn btn-outline-primary">Sponsor</button>
                </div> -->
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

                <form class="mt-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group co-md-6">
                        <label for="inputPassword4">Email</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-color: rgb(13, 141, 226);"
                                    id="basic-addon1">@</span>
                            </div>
                            <input type="text" class="form-control" formControlName="email"
                                placeholder="Email or unique number" aria-label="Username"
                                aria-describedby="basic-addon1"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email/Unique number is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-color: rgb(13, 141, 226);"
                                    id="basic-addon1"> <i class="fa fa-key" aria-hidden="true"></i></span>
                            </div>
                            <input type="password" class="form-control" id="inputAddress" formControlName="password"
                                placeholder="e.g ManieVY@ums.??"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col-md-6 float-left"><a [routerLink]="['/signup']">Dont't have an account?</a>
                        </p>
                        <p class="col-md-6 text-right" style="text-align:center;"><button
                                class="text-right btn btn-outline-dark" [disabled]="isLoading">Login
                                <div class="spinner-grow spinner-grow-sm text-info" role="status" *ngIf="isLoading">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </button></p>
                    </div>
                </form>
                <hr>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-outline-dark" href="#" role="button" style="text-transform:none">
                            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                            Login with Google
                        </a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>