<!-- <div class="container">
    <div id="carouselSliders" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselSliders" data-slide-to="0" class="active"></li>
            <li data-target="#carouselSliders" data-slide-to="1"></li>
            <li data-target="#carouselSliders" data-slide-to="2"></li>
        </ol>
        <div class="carosel-inner">
            <div class="carousel-item active">
                <img src="assets/slider/slider1.jpeg" alt="slider1" class="d-bl0ck w-100">
            </div>
            <div class="carousel-item">
                <img src="assets/slider/slider2.jpeg" alt="slider2" class="d-bl0ck w-100">
            </div>
            <div class="carousel-item">
                <img src="assets/slider/slider1.jpeg" alt="slider3" class="d-bl0ck w-100">
            </div>
        </div>
        <a href="#carouselSliders" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#carouselSliders" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div> -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" height="300" src="assets/slider/slider2.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" height="300" src="assets/slider/slider2.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" height="300" src="assets/slider/slider2.jpeg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>